{% load static %}
<html>
<head>
    <title>
        {% block title %}

        {% endblock %}

    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        a {
            text-decoration: none;
            }


    </style>

</head>
<body>
<!--nav bar -->
<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--        <a class="navbar-brand" href="#">Paradise</a>-->
        <img src="{% static 'img/log.png' %}" alt='logo' height='100' width="125"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'allcategories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactus' %}">Contact</a>
                </li>


                {% if user.is_authenticated %}
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="{% url 'customerregistration' %}"> {{user.customer.address}}</a>-->
                <!--                </li>-->

                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="{% url 'customerlogout' %}">LogOut</a>-->
                <!--                </li>-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.customer.first_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'customerprofile' %}">Your Profile</a>
                        <a class="dropdown-item" href="{% url 'customerlogout' %}">LogOut</a>

                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customerregistration' %}">Register</a>
                </li>
                {% endif %}
            </ul>

            <p style="padding-top: 10" class="nav-item text-right">
                <a class="nav-link" href="{% url 'mycart' %}">My Cart &nbsp; <i class="fa fa-shopping-cart"></i></a>
            </p>

            <form action="{% url 'searchresult' %}" method="GET" class="form-inline my-2 my-lg-0">
                <input name="search" type="text" class="form-control mr-sm-2" placeholder="Search...">
                <input type="submit" value="Search" class="btn btn-outline-primary">
            </form>
            <!--            <form action="{% url 'searchresult' %}" class="form-inline my-2 my-lg-0" method="GET">-->

            <!--                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search what you looking for"-->
            <!--                       aria-label="Search">-->
            <!--                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
            <!--            </form>-->
        </div>
    </nav>
</div>
<!--end of navbar -->

<div class="container">
    {% block content %}

    {% endblock %}
</div>
<br>
<!-- Footer -->
<div>
    <footer class="page-footer font-small pt-4" style="background-color: #f9f9f9">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <img src="{% static 'img/log.png' %}" height="150" width="200"/>
                    <h5 class="text-uppercase"><b>Paradise</b></h5>
                    <p>is a ecommerce website where you can find all of the products that you desire. You will get the
                        product directly from
                        producer. There is no middle man. So that you can get product at best price.
                    </p>

                    <h6><b>Social Links</b></h6>
                    <a href="facebook.com"> <i class="fa fa-facebook fa-7x"></i></a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="facebook.com"> <i class="fa fa-instagram"></i></a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="facebook.com"> <i class="fa fa-linkedin"></i></a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="facebook.com"> <i class="fa fa-whatsapp"></i></a>
                    <br>
                    <br>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h6 class="text-uppercase"><b>Get to Know Paradise</b></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Blog</a>
                        </li>
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h6 class="text-uppercase"><b>Let us help you</b></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Your Account</a>
                        </li>
                        <li>
                            <a href="#!">Your order</a>
                        </li>
                        <li>
                            <a href="#!">Shipping rates and policies</a>
                        </li>
                        <li>
                            <a href="#!">paradise assistant</a>
                        </li>
                        <li>
                            <a href="#!">Help</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background-color: #ececec">{% now 'Y' %} &copy;
            <a> Paradise</a>
        </div>
    </footer>
</div>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>