{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Checkout | Paradise
{% endblock %}


{% block content %}
<br>
<div class="row">
    <div class="col-md-8">
        <h4>My Cart Items</h4>
        <h6><a href="{% url 'mycart' %}">Manage Cart</a></h6>
        <table class="table">
            <thead>
            <tr>
                <th>
                    SN
                </th>
                <th>Product</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            {% for cp in cart.cartproduct_set.all %}
            <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cp.product }}</td>
                <td>{{cp.rate|intcomma}}/-</td>
                <td>{{cp.quantity}}</td>
                <td>{{cp.subtotal|intcomma}}/-</td>
            </tr>
            </tbody>

            {% endfor %}

            {% if cart.cartproduct_set.all %}
            <tr>
                <th colspan="4" class="text-right">Total:</th>
                <th>{{cart.total|intcomma}}/-</th>

            </tr>


            {% endif %}

        </table>

    </div>
    <div class="col-md-4 text-center">
        <h4>Checkout Details:</h4>
        <div class="container pt-3">
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label><b>{{field.label}}:</b></label>
                    <br>
                    {{field}}
                    {% for error in field.errors %}
                    <span class="help-block" style="color:red">{{error}}</span>
                    {% endfor %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary">Place Order</button>
            </form>

        </div>


    </div>
</div>
{% endblock %}